node_modules/
dist/
client/node_modules
client/dist
.vscode
.idea
```

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
