<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shujuku.mapper.DeptMapper">

    <sql id="Base_Column_List">
        d.dept_id,
        d.dept_name,
        d.school_id
    </sql>

    <resultMap id="deptList" type="com.example.shujuku.dept.bean.Dept">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="school_id" property="schoolId"/>
    </resultMap>

    <select id="getDeptList" resultMap="deptList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM dept d
        WHERE d.dept_id = d.dept_id
        <if test="deptId!= null">
            and d.dept_id = #{deptId}
        </if>
        <if test="deptName != null">
            and d.dept_name = #{deptName}
        </if>
        <if test="schoolId != null">
            and d.school_id = #{schoolId}
        </if>
        LIMIT #{pageNo},#{pageSize};
--         SELECT FOUND_ROWS() as total1;
    </select>

</mapper>