<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shujuku.mapper.MajorMapper">

    <sql id="Base_Column_List">
        m.major_id,
        m.major_name,
        m.dept_id,
        m.dept_name,
        m.school_id,
        m.school_name,
        m.teacher_id,
        m.teacher_name
    </sql>

    <resultMap id="majorList" type="com.example.shujuku.major.bean.Major">
        <id column="major_id" property="majorId"/>
        <result column="major_name" property="majorName"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="school_id" property="schoolId"/>
        <result column="school_name" property="schoolName"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="teacher_name" property="teacherName"/>
    </resultMap>

    <select id="getMajorList" resultMap="majorList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM major m
        WHERE m.major_id = m.major_id
        <if test="majorId != null">
            and m.major_id = #{majorId}
        </if>
        <if test="majorName != null">
            and m.major_name = #{majorName}
        </if>
        <if test="deptId != null">
            and m.dept_id = #{deptId}
        </if>
        <if test="deptName != null">
            and m.dept_name = #{deptName}
        </if>
        <if test="schoolId != null">
            and m.school_id = #{schoolId}
        </if>
        <if test="schoolName != null">
            and m.school_name = #{schoolName}
        </if>
        <if test="teacherId != null">
            and m.teacher_id = #{teacherId}
        </if>
        <if test="teacherName != null">
            and m.teacher_name = #{teacherName}
        </if>
        LIMIT #{pageNo},#{pageSize};
--         SELECT FOUND_ROWS() as total1;
    </select>

</mapper>