<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shujuku.mapper.RoomMapper">

    <sql id="Base_Column_List">
        t.id,
        t.room_id,
        t.building_id,
        t.limit_num,
        t.had_num,
        t.status
    </sql>

    <resultMap id="roomList" type="com.example.shujuku.room.bean.Room">
        <id column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="building_id" property="buildingId"/>
        <result column="limit_num" property="limitNum"/>
        <result column="had_num" property="r=hadNum"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getResidentableRooms" resultMap="roomList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM room t
        WHERE t.status = 1
    </select>

    <select id="getResidentedRooms" resultMap="roomList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM room t
        WHERE t.status != 0
        and t.had_num > 0
    </select>

    <select id="getRoomList" resultMap="roomList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM room t
        WHERE t.id = t.id
        <if test="id != null">
            and t.id = #{id}
        </if>
        <if test="userId != null">
            and t.user_id = #{userId}
        </if>
        <if test="roomId != null">
            and t.room_id = #{roomId}
        </if>
        <if test="buildingId != null">
            and t.building_id = #{buildingId}
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        LIMIT #{pageNo},#{pageSize};
        --         SELECT FOUND_ROWS() as total1;
    </select>

</mapper>