<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.shujuku.mapper.StudentMapper">

    <sql id="Base_Column_List">
        s.student_id,
        s.student_name,
        s.gender,
        s.major_id,
        s.dept_id,
        s.school_id
    </sql>

    <sql id="Base_Column_List2">
        s.student_id,
        s.student_name,
        s.gender,
        s.major_id,
        s.dept_id,
        s.school_id,
        m.major_name,
        m.dept_name,
        m.school_name
    </sql>

    <resultMap id="studentList" type="com.example.shujuku.student.bean.Student">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="gender" property="gender"/>
        <result column="major_id" property="majorId"/>
        <result column="dept_id" property="deptId"/>
        <result column="school_id" property="schoolId"/>
    </resultMap>

    <resultMap id="studentAllInfoList" type="com.example.shujuku.resp.StudentAllInfoPageResp">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <result column="gender" property="gender"/>
        <result column="major_id" property="majorId"/>
        <result column="dept_id" property="deptId"/>
        <result column="school_id" property="schoolId"/>
        <result column="major_name" property="majorName"/>
        <result column="dept_name" property="deptName"/>
        <result column="school_name" property="schoolName"/>
    </resultMap>

    <select id="getStudentList" resultMap="studentList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List" />
        FROM student s
        WHERE s.student_id = s.student_id
        <if test="studentId != null">
            and s.student_id = #{studentId}
        </if>
        <if test="studentName != null">
            and s.student_name = #{studentName}
        </if>
        <if test="gender != null">
            and s.gender = #{gender}
        </if>
        <if test="majorId != null">
            and s.major_id = #{majorId}
        </if>
        <if test="deptId != null">
            and s.dept_id = #{deptId}
        </if>
        <if test="schoolId != null">
            and s.school_id = #{schoolId}
        </if>
        LIMIT #{pageNo},#{pageSize};
--         SELECT FOUND_ROWS() as total1;
    </select>

    <select id="getStudentAllInfoList" resultMap="studentAllInfoList">
        SELECT SQL_CALC_FOUND_ROWS
        <include refid="Base_Column_List2" />
        FROM student s
        LEFT JOIN major m
        ON s.major_id = m.major_id
        WHERE s.student_id = s.student_id
        <if test="studentId != null">
            and s.student_id = #{studentId}
        </if>
        <if test="studentName != null">
            and s.student_name = #{studentName}
        </if>
        <if test="gender != null">
            and s.gender = #{gender}
        </if>
        <if test="majorId != null">
            and s.major_id = #{majorId}
        </if>
        <if test="deptId != null">
            and s.dept_id = #{deptId}
        </if>
        <if test="schoolId != null">
            and s.school_id = #{schoolId}
        </if>
        LIMIT #{pageNo},#{pageSize};
--         SELECT FOUND_ROWS() as total1;
    </select>

</mapper>